@{
    ViewData["Title"] = "Detalles de la cuenta";
}

@section Styles{
    <link rel="stylesheet" href="~/css/cuenta/detalles.min.css" asp-append-version="true" />
}
    <h4>Detalles de la cuenta</h4>
    <input type="hidden" value="@ViewBag.Id" id="cuentaID" />
    <div class="info">
        <section class="info__basic">
            <div class="info__general">
                <label><small>CUENTA</small></label>
                <h6 id="numeroCuenta"></h6>
                <label><small>BALANCE GENERAL</small></label>
                <h4 id="saldoCuenta"></h4>
            </div>
            <div class="info__actions">
                <button type="button" class="button--primary transaction" data-tipo="1" disabled>DEPÓSITO</button>
                <button type="button" class="button--primary transaction" data-tipo="2" disabled>RETIRO</button>
            </div>
        </section>
        <section class="info__details">
            <h6>Historial de transacciones</h6>
            <table class="info__transactions">
                <thead>
                    <tr>
                        <th>Movimiento</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                        <th>Hora</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </section>
    </div>
    <div class="modal">
        <form class="form">
            <section class="form__group">
                <input type="hidden" id="tipoTransaccion" />
                <h6 id="concepto"></h6>
                <label id="indicacion"></label>
                <input type="text" id="monto" />
            </section>
            <section class="form__group">
                <button type="button" class="button--primary" id="guardar"></button>
                <button type="button" id="cancelar">CANCELAR</button>
            </section>
        </form>
    </div>
@section scripts {
    <script src="~/lib/jquery-mask/jquery.mask.min.js"></script>
    <environment include="Development">
        <script type="text/javascript" src="~/js/cuenta/detalles.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/cuenta/detalles.min.js" asp-append-version="true"></script>
    </environment>
}