@{
    ViewData["Title"] = "Registro cliente";
}

@section Styles{
    <link rel="stylesheet" href="~/css/cliente/registrar.min.css" asp-append-version="true" />
}
<h4>Registrar cliente</h4>
<div class="main">
    <form class="form">
        <section class="form__group">
            <h6>Ingresa los datos del cliente</h6>
            <label>Nombre</label>
            <input type="text" id="nombre" />
            <label>Apellido paterno</label>
            <input type="text" id="apellidoPaterno"/>
            <label>Apellido materno</label>
            <input type="text" id="apellidoMaterno"/>
        </section>
        <section class="form__group">
            <button type="button" class="button--primary" id="guardar">REGISTRAR</button>
        </section>
    </form>
</div>
@section scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/js/cliente/registrar.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/js/cliente/registrar.min.js" asp-append-version="true"></script>
    </environment>
}